<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to scan QR codes for importing encryption keys.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>UIColorName</key>
			<string>LaunchColor</string>
			<key>UIImageName</key>
			<string>LaunchLogo</string>
			<key>UIImageRespectsSafeAreaInsets</key>
			<string>YES</string>
		</dict>
	</dict>
</dict>
</plist>
